@main("Home", "Welcome to MDChiShenMe!", "A place where you stay updated on the Chinese restaurants information in Great DC Area.", "home") {
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Email, just email. <span class="text-muted">You'll stay updated.</span></h2>
            <p class="lead">Simply provide your email, you will get email notification about the most recently opened Chinese restaurants and the special offers.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src='@routes.Assets.at("images/bat_mail.png")' alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src='@routes.Assets.at("images/chineseFood.jpg")' alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Oh yeah, feed me. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Feed me with the special offers of the restaurants and feed me my appetite.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, contribute. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Once you find out a restaurant that is not in our list, you can be our contributor.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src='@routes.Assets.at("images/contribute420.jpg")' alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
</div>
}