@(title: String, headLine: String = null, subHeadLine: String = null, activePage: String = "null")(content: Html)
@import core.Global
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ling Hung">
    <link rel="icon" href='@routes.Assets.at("images/favicon.png")'>

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/bootstrap.min.css")' />
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/carousel.css")' />

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='@routes.Assets.at("javascripts/jquery-1.11.1.min.js")'></script>
    <script src='@routes.Assets.at("lib/bootstrap/bootstrap.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/docs.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/web-services.js")' ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script type="text/javascript">
        var SignInPage = {
            initialize: function () {
                $( "#SignInButton" ).click(SignInPage.authenticate);
                $( "#resetButton" ).button();
            },

            authenticate: function () {
                var email = $( "#email" ).val();
                var password = $( "#password" ).val();

            UserService.stayUpdatedAuthenticate( email, function (status) {
                if (status.success) {
                    alert("Your email has been recorded! Now you will get notified on the special offer of local restaurants.");
                } else {
                    alert("Oops, we've already had your email!");
                }
            });

//                $("#alertOKDialog").show();
//                window.setTimeout(function() {
//                    $("#alertOKDialog").fadeTo(300, 0).slideUp(300, function(){
//                        $(this).hide();
//                    });
//                }, 2000);
//                $("#alertOKDialog").show();
            },

            confirmLogout: function () {
//                Confirm.show("Confirm Logout", "Click 'OK' to confirm logout.", function () {
                    window.location = "/logout";
//                });
            },

            resetPassword: function () {
                var email = $( "#resetEmailAddress" ).val();
                if (email === "") {
                    Alert.show("Email Blank", "An email address must be entered.");
                    return;
                }
                $( "#forgotPasswordDialog" ).dialog( "close" );
                AdminService.emailPasswordReset(email, function () {
                    Alert.show("Resetting Password", "You will receive an email with a link to reset your password.");
                });
            },

            showForgotPassword: function () {
                $( "#forgotPasswordDialog").dialog({
                    height: "auto",
                    modal: true,
                    open: function(event, ui) {
                        $(".ui-dialog-titlebar-close", this.parentNode).hide();
                    },
                    position: {my: "center top+100", at: "center top", of: window},
                    title: "Reset Password",
                    width: 450
                });
            },

            publisherCreationPage: function () {
                window.location="/adminManager/register";
            }
        }

        $(function () {
            SignInPage.initialize();
        });
    </script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MDChiShenMe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li @if(activePage == "home"){class="active"}><a href="/">Home</a></li>
                <li @if(activePage == "restaurants" || activePage == "newRestaurant"){class="active"}><a href="/restaurantManager/list">Restaurants</a></li>
                @if(SessionManager.isSuperUser){
                    <li @if(activePage == "users"){class="active"}><a href="/userManager/list">Users</a></li>
                }
                <li @if(activePage == "feedback"){class="active"}><a href="/feedback">Contact Us</a></li>
            </ul>
            <div class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    @if(SessionManager.getUser != null) {
                        Hi, @SessionManager.getUser.email (<a href="javascript:SignInPage.confirmLogout()">Sign Out</a>)
                    }else {
                        <a href="/login">Sign In</a> or
                    }
                    <input type="text" placeholder="Email" id="email" class="form-control">
                </div>
                <button type="button" id="SignInButton" class="btn btn-success" >Stay Updated</button>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div id="busyDialog" title="Just A Moment" style="display: none;text-align: center">
    <img src='@routes.Assets.at("images/hourglass-purple.jpeg")' width='100' />
    <div id="busyDialogText">Processing...</div>
</div>

<div class="modal fade" id="alertDialog" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alertTitle"></h4>
            </div>
            <div class="modal-body">
                <h5 id="alertBody"></h5>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirmTitle">Confirm</h4>
            </div>
            <div class="modal-body">
                <h5 id="confirmBody"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        @if(headLine != null) {
            <h1>@headLine</h1>
        }
        @if(subHeadLine != null) {
            <p>@subHeadLine</p>
        }
    </div>
</div>

<div class="container">
    @content
    <hr>

    <footer>
        <table border="0" width="100%">
            <tr>
                <td align="left">
                    &copy; MDChiShenMe Inc. 2014
                </td>
                <td align="right">
                    Version: @Global.getApplicationVersion
                </td>
            </tr>
        </table>
    </footer>
</div> <!-- /container -->
</body>
</html>





