@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ling Hung">
    <link rel="icon" href="../../favicon.ico">


    <title>@title</title>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/my_style.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery-ui-1.10.0.custom.css")' />
    <script type="text/javascript" src='@routes.Assets.at("javascripts/http_code.jquery.com_jquery-2.0.0.js")' ></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/my_code.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-ui-1.10.0.custom.js")' ></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/web-services.js")' ></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='@routes.Assets.at("lib/bootstrap/bootstrap.min.css")' />

    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to MDChiShenMe!</h1>
        <p>This is a place where you can check for what to eat and get recommendation about what to eat. You can register your email to get a daily email for what to eat everyday. You can also provide a restaurant if we don't have by logging in with your email. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    @content
    <hr>

    <footer>
        <p>&copy; MDChiShenMe Inc. 2014</p>
    </footer>
</div> <!-- /container -->

</body>
</html>
