@main("New Restaurant") {
<script type="text/javascript">
    var OrderDetail = {
        initialize: function () {
            $("#saveButton").button();
            $("#saveButton").click(OrderDetail.onSaveClick);
        },

        onSaveClick: function () {
            $("#orderForm").submit();
        }
    }
    $(function () {
        OrderDetail.initialize();
    });
</script>
<div id="content">
    <form id="orderForm" method="POST" action="/saveRestaurant">
        <table width="100%" border="0">
            <tr>
                <td align="right">English Name</td>
                <td align="left">
                    <input type="text" name="englishName">
                </td>
            </tr>
            <tr>
                <td align="right">Foreign Name</td>
                <td>
                    <input type="text" name="foreignName">
                </td>
            </tr>
            <tr>
                <td align="right">State</td>
                <td>
                    <input type="text" name="state">
                </td>
            </tr>
            <tr>
                <td align="right">City</td>
                <td>
                    <input type="text" name="city">
                </td>
            </tr>
            <tr>
                <td align="right">Address</td>
                <td align="left">
                    <textarea name="address" rows="5" cols="40">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td align="right">Phone Number</td>
                <td align="left">
                    <input type="text" name="telephone">
                </td>
            </tr>
            <tr>
                <td align="right"></td>
                <td align="center">
                    <input type="submit">
                </td>
            </tr>
        </table>
    </form>
</div>
}