@(restaurants: List[Restaurant])

@imageUrl(image: Image) = @{
    if (image == null) {
        null;
    } else {
        image.mediaUrl;
    }
}

@main("Restaurant List", "Find a restaurant!", "Here you can browse all the restaurants and find their special offers!", "restaurants") {
<style type="text/css" title="currentStyle">
    @@import '@routes.Assets.at("lib/DataTables-1.10.4/media/css/jquery.dataTables.min.css")';
</style>

<script type="text/javascript" language="javascript" src='@routes.Assets.at("lib/DataTables-1.10.4/media/js/jquery.dataTables.min.js")'></script>

<script type="text/javascript" >
    var RestaurantList = {
        initialize: function () {
            var table = $( "#restaurants" ).DataTable();
            $( ".buttonLink" ).button();
        },

        newRestaurantClicked: function () {
            var newUrl = "/restaurantManager/new";
            window.location = newUrl;
        },

        deleteClicked: function (Id) {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
                        var url = "/restaurantManager/delete?id=" + Id;

//                        BusyDialog.show("Deleting Ad", 750);
                        $.ajaxSetup({async:true, cache: false});
                        $.getJSON(url, null, function (status) {
//                            BusyDialog.hide(function () {
//                                callback.call(this, status);
//                            });
                            window.location = "/restaurantManager/list";
                        });
//                    }
//            );
        },

        toggleApprovalClicked: function (Id) {
            var url = "/restaurantManager/toggleApproval?id=" + Id;
//            BusyDialog.show("Toggling Status", 750);
//            $.ajaxSetup({async:true, cache: false});
            $.getJSON(url, null, function (status) {
//                BusyDialog.hide(function () {
//                    callback.call(this, status);
//                });
                window.location = "/restaurantManager/list";
            });
        },

        syncClicked: function () {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
            var url = "/restaurantManager/sync";

//                        BusyDialog.show("Deleting Ad", 750);
            $.ajaxSetup({async:true, cache: false});
            $.getJSON(url, null, function (status) {
                if (status) {
                    alert("Restaurant list synchronized");
                    window.location = "/restaurantManager/list";
                }
            });
//                    }
//            );
        },

        editClicked: function(Id) {
            window.location = "/restaurantManager/edit?id=" + Id;
        }
    }

    $(function() {
        RestaurantList.initialize();
    })
</script>

<div class="row">
    <div>
        <table id="restaurants">
            <thead>
            <tr>
                <th align="left">Restaurant Photo</th>
                <th align="left">Restaurant Info</th>
                <th align="left">Special Offer</th>
                @if(SessionManager.isSuperUser) {
                    <th align="left">Approved</th>
                    <th align="left">Actions</th>
                }
            </tr>
            </thead>
            <tbody>
                @for(restaurant <- restaurants){
                    @if(SessionManager.isSuperUser){
                        <tr>
                            <td align="left">
                                <img class="img-responsive" src='@imageUrl(restaurant.image)' alt="Not available">
                            </td>
                            <td align="left">
                                Name: @restaurant.englishName  (Also known as: @restaurant.foreignName)<br>
                                Category: @restaurant.category<br>
                                State: @restaurant.state City: @restaurant.city<br>
                                Address: @restaurant.address<br>
                                Telephone: @restaurant.telephone<br>
                            </td>
                            <td>
                                @restaurant.specialOffer
                            </td>
                            <td align="left">@restaurant.approved</td>
                            <td align="center" nowrap>
                                <button class="btn btn-primary" onclick="javascript:RestaurantList.editClicked(@restaurant.id)">Edit</button>&nbsp;
                                <button class="btn btn-success" onclick="javascript:RestaurantList.toggleApprovalClicked(@restaurant.id)">
                                    @if(restaurant.approved){
                                        Disapprove
                                    }else{
                                        Approve
                                    }
                                </button>&nbsp;
                                <button class="btn btn-danger" onclick="javascript:RestaurantList.deleteClicked(@restaurant.id)">Delete</button>
                            </td>
                        </tr>
                    }else{
                        @if(restaurant.approved){
                            <tr>
                                <td align="left">
                                    <img class="img-responsive" src='@imageUrl(restaurant.image)' alt="Not available">
                                </td>
                                <td align="left">
                                    @restaurant.englishName  (Also known as: @restaurant.foreignName)<br>
                                    Category: @restaurant.category<br>
                                    State: @restaurant.state City: @restaurant.city<br>
                                    Address: @restaurant.address<br>
                                    Telephone: @restaurant.telephone<br>
                                </td>
                                <td>
                                    @restaurant.specialOffer
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="padding-top: 20px">
    <p>Do we miss a restaurant? Please let us know by clicking the following button:</p>
    <button class="btn btn-info" onclick="javascript:RestaurantList.newRestaurantClicked()">I want to contribute!</button>
</div>
}
