@(restaurants: List[Restaurant])

@main("Restaurant List") {
<style type="text/css" title="currentStyle">
    @@import '@routes.Assets.at("lib/datatables-1.9.4/media/css/jquery.dataTables.css")';
    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script type="text/javascript" language="javascript" src='@routes.Assets.at("lib/datatables-1.9.4/jquery.dataTables.js")'></script>

<script type="text/javascript" >
    var RestaurantList = {
        initialize: function () {
//            tableOptions = {
//                "aaSorting" : [[0, "asc"]],
//                "bFilter": true,
//                "bInfo": false,
//                "bLengthChange": false,
//                "bJQueryUI": false,
//                "bPaginate": false,
//                "iDisplayLength": 100,
//                "oLanguage": {"sEmptyTable": " "},
//                "sPaginationType": "full_numbers"
//            };
//
//            setTimeout(function() {
//                $( "#restaurants" ).dataTable(tableOptions)
//            }, 20);

//            $( ".buttonLink" ).button();
        },

        newRestaurantClicked: function () {
            var newUrl = "/restaurantManager/new";
            window.location = newUrl;
        },

        deleteClicked: function (Id) {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
                        var url = "/restaurantManager/delete?id=" + Id;

//                        BusyDialog.show("Deleting Ad", 750);
                        $.ajaxSetup({async:true, cache: false});
                        $.getJSON(url, null, function (status) {
//                            BusyDialog.hide(function () {
//                                callback.call(this, status);
//                            });
                            window.location = "/restaurantManager/list";
                        });
//                    }
//            );
        },

        syncClicked: function () {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
            var url = "/restaurantManager/sync";

//                        BusyDialog.show("Deleting Ad", 750);
            $.ajaxSetup({async:true, cache: false});
            $.getJSON(url, null, function (status) {
                if (status) {
                    alert("Restaurant list synchronized");
                    window.location = "/restaurantManager/list";
                }
//                            BusyDialog.hide(function () {
//                                callback.call(this, status);
//                            });
            });
//                    }
//            );
        },

        editClicked: function(Id) {
            window.location = "/restaurantManager/edit?id=" + Id;
        }
    }

    $(function() {
        RestaurantList.initialize();
    })
</script>

<div id="content">
    <table id="restaurants" border="0" cellspacing="0" cellpadding="0"  width="100%" style="">
        <thead>
        <tr>
            <th align="left">English Name</th>
            <th align="left">Foreign Name</th>
            <th align="left">Category</th>
            <th align="left">State</th>
            <th align="left">City</th>
            <th align="left">Address</th>
            <th align="left">Phone Number</th>
            <th align="left">Created By</th>
        </tr>
        </thead>
        @for(restaurant <- restaurants) {
        <tr>
            <td align="left">@restaurant.englishName</td>
            <td align="left">@restaurant.foreignName</td>
            <td align="left">@restaurant.category</td>
            <td align="left">@restaurant.state</td>
            <td align="left">@restaurant.city</td>
            <td align="left">@restaurant.address</td>
            <td align="left">@restaurant.telephone</td>
            <td align="left">@restaurant.createdBy.email</td>
            <td align="center" nowrap>
                <button onclick="javascript:RestaurantList.editClicked(@restaurant.id)">Edit</button>&nbsp;
                <!--<a href="" class="buttonLink">Edit</a>&nbsp;-->
                <button onclick="javascript:RestaurantList.deleteClicked(@restaurant.id)">Delete</button>&nbsp;
                <!--<a href="javascript:RestaurantList.deleteClicked(@restaurant.id)" class="buttonLink">Delete</a>&nbsp;-->
            </td>
        </tr>
        }
        <tr>
            <td align="left">
                <button onclick="javascript:RestaurantList.syncClicked()">Sync</button>&nbsp;
            </td>
        </tr>
    </table>
    <br>
</div>
}
