@(restaurants: List[Restaurant])

@main("Restaurant List", "Find a restaurant!", "Here you can browse all the restaurants and find the ones close to you.", "restaurants") {
<style type="text/css" title="currentStyle">
    @@import '@routes.Assets.at("lib/DataTables-1.10.4/media/css/jquery.dataTables.min.css")';
</style>

<script type="text/javascript" language="javascript" src='@routes.Assets.at("lib/DataTables-1.10.4/media/js/jquery.dataTables.min.js")'></script>

<script type="text/javascript" >
    var RestaurantList = {
        initialize: function () {
            var table = $( "#restaurants" ).DataTable();
            $( ".buttonLink" ).button();
        },

        newRestaurantClicked: function () {
            var newUrl = "/restaurantManager/new";
            window.location = newUrl;
        },

        deleteClicked: function (Id) {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
                        var url = "/restaurantManager/delete?id=" + Id;

//                        BusyDialog.show("Deleting Ad", 750);
                        $.ajaxSetup({async:true, cache: false});
                        $.getJSON(url, null, function (status) {
//                            BusyDialog.hide(function () {
//                                callback.call(this, status);
//                            });
                            window.location = "/restaurantManager/list";
                        });
//                    }
//            );
        },

        syncClicked: function () {
//            Confirm.show("Confirm Delete",
//                    "Are you sure you want to delete this restaurant?",
//                    function () {
//                        AdListService.deleteAd(adId, function () {
//                            var data = $( "#restaurants" ).dataTable().fnGetData();
//                            for (var i=0;i<data.length;i++) {
//                                if (data[i][0] == adId) {
//                                    $( "#restaurants" ).dataTable().fnDeleteRow(i);
//                                }
//                            }
//                        });
            var url = "/restaurantManager/sync";

//                        BusyDialog.show("Deleting Ad", 750);
            $.ajaxSetup({async:true, cache: false});
            $.getJSON(url, null, function (status) {
                if (status) {
                    alert("Restaurant list synchronized");
                    window.location = "/restaurantManager/list";
                }
//                            BusyDialog.hide(function () {
//                                callback.call(this, status);
//                            });
            });
//                    }
//            );
        },

        editClicked: function(Id) {
            window.location = "/restaurantManager/edit?id=" + Id;
        }
    }

    $(function() {
        RestaurantList.initialize();
    })
</script>

<div class="row">
    <div>
        <table id="restaurants">
            <thead>
            <tr>
                <th align="left">English Name</th>
                <th align="left">Foreign Name</th>
                <th align="left">Category</th>
                <th align="left">State</th>
                <th align="left">City</th>
                <th align="left">Address</th>
                <th align="left">Phone Number</th>
                @if(SessionManager.isSuperUser) {
                    <th align="left">Actions</th>
                }
            </tr>
            </thead>
            <tbody>
                @for(restaurant <- restaurants) {
                <tr>
                    <td align="left">@restaurant.englishName</td>
                    <td align="left">@restaurant.foreignName</td>
                    <td align="left">@restaurant.category</td>
                    <td align="left">@restaurant.state</td>
                    <td align="left">@restaurant.city</td>
                    <td align="left">@restaurant.address</td>
                    <td align="left">@restaurant.telephone</td>
                    @if(SessionManager.isSuperUser) {
                        <td align="center" nowrap>
                            <button class="btn btn-primary" onclick="javascript:RestaurantList.editClicked(@restaurant.id)">Edit</button>&nbsp;
                            <!--<a href="" class="buttonLink">Edit</a>&nbsp;-->
                            <button class="btn btn-danger" onclick="javascript:RestaurantList.deleteClicked(@restaurant.id)">Delete</button>&nbsp;
                            <!--<a href="javascript:RestaurantList.deleteClicked(@restaurant.id)" class="buttonLink">Delete</a>&nbsp;-->
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="padding-top: 20px">
    <p>Do we miss a restaurant? Please let us know by clicking the following button:</p>
    <button class="btn btn-info" onclick="javascript:RestaurantList.newRestaurantClicked()">I want to contribute!</button>
</div>
}
