<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Demystifying Email Design</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
<body style='margin: 0; padding: 0;'>
<table align='center' style="border: solid #d3d3d3 20px" cellpadding='0' cellspacing='0' width='600'>
    <tr>
        <td style="font-family: cursive; font-size: 50pt" align="center" width="300" height="80" bgcolor='#70bbd9'>
            MDChiShenMe
        </td>
    </tr>
    <tr>
        <td bgcolor='#ffffff' style="padding: 0px 30px 0px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td colspan="2" style="font-weight: bold; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 30pt; padding: 20px 0 20px 0;">
                        Hey, here are the special offers for this week!
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-bottom: 20px">
                        <img class="img-responsive" src='https://s3.amazonaws.com/ms-image/BigWangsCuisine-180de33a-4ebf-49e4-90f1-a621e7e528bb.jpg' alt="Not available" width="300px"><br>
                        Name: Test  (Also known as: 考試)<br>
                        Address: 12345125<br>
                        <font style="font-weight: bold">Special Offer: Buy one spring roll get one free with student ID</font><br>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-bottom: 20px">
                        <img class="img-responsive" src='https://s3.amazonaws.com/ms-image/BigWangsCuisine-180de33a-4ebf-49e4-90f1-a621e7e528bb.jpg' alt="Not available" width="300px"><br>
                        Name: Test  (Also known as: 考試)<br>
                        Address: 12345125<br>
                        <font style="font-weight: bold">Special Offer: Buy one spring roll get one free with student ID</font><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 20px; text-align: center">
                        <a href="http://localhost:9000" target="_blank">Visit us to see more special offers from your local restaurants!</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 15pt;padding: 30px 0px">
                        MDChiShenMe Team
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
            You are receiving this email because you provided us with your email address through the MDChiShenMe website. If you no longer wish to receive emails from us, please <a href="">unsubscribe</a> and you will be removed from our email list.
        </td>
    </tr>
</table>
</body>
</head>
</html>